<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor cadastrado</title>

    <link rel="stylesheet"  href="/styles/patchs/page-sucess.css">
    <link rel="stylesheet"  href="/styles/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-sucess">
    <div id="content">
        <img src="/images/icons/success-check-icon.svg" alt="Ícone de Sucesso!">
        <h1>Cadastro Salvo!</h1>
        <p>Tudo certo. Seu Cadastro está na nossa lista de professores. Agora é só ficar de olhos no se seu WhatsApp.</p>
        <a href="/study">Acessar Lista</a>
    </div>
</body>
</html>